*{
    box-sizing: border-box;
}
.wrap{
    margin-right: 1.5rem;
    display: grid;
}
.custom-img{
    width: 30px;
    height: 30px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.grid-main{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    margin-left: 1.5rem;
    align-items: center;
}
.grid-sub-main{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 100%);
    margin-left: 1.5rem;
    margin-top: 20px;
    align-items: center;
    grid-template-areas: 
        "picture-1  text-1 text-1"
        "text-2 text-2 picture-2";
}
.main-picture-1{
    grid-area: picture-1;
}
.main-picture-2{
    grid-area: picture-2;
    height: 400px;
}
.main_text-1{
    grid-area: text-1;
}
.main_text-2{
    grid-area: text-2;
}

.card_item{
    overflow: hidden;
}
.img-sizes{
    width: 100%; height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-left: 1.5rem;
    height: 400px;
}

.gallery-custom{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.gallery-custom:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    grid-template-areas: 
            "one two three"
            "four five six";
    align-items: center;
    gap: 0;
    width: 100%;
    justify-content: center;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.grid-container{
    height: 700px;
}
.user-grid-data{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    grid-template-areas: 
            "name mail phone";
    align-items: center;
    gap: 20px;
    width: 100%;
}
.name{
    grid-area: name;
}
.email{
    grid-area: mail;
}
.phone{
    grid-area: phone;
}
.grid-radio{
    display: grid;
    grid-template-columns: repeat(2, 180px 300px);
    grid-template-rows: repeat(1, auto);
    margin-right: 1.5rem;
    gap: 0;
    grid-template-areas: 
            "contact-me choise";
    align-items: center;
    width: 100%;
}
.contact-me{
    grid-area: contact-me;
}
.choise{
    grid-area: choise;
}

/* @media (max-width: 850px) {
    .grid-main {
        grid-template-columns: repeat(2, 50%);
        gap: 0;
    }
    .grid-sub-main{
        grid-template-columns: repeat(2, 50%);
        gap: 0;
    }
}
@media (max-width: 600px) {
    .grid-main {
        grid-template-columns: repeat(1, 100%);
        gap: 0;
    }
    .grid-sub-main{
        grid-template-columns: repeat(1, 100%);
        gap: 0;
        margin-top: 0;
    }
} */
